snippet sl0 "separator level 0"
//=============================================================================
//
// $0
//
//=============================================================================
endsnippet

snippet sl1 "separator level 1"
//-----------------------------------------------------------------------------
// $0
//-----------------------------------------------------------------------------
endsnippet

snippet sl2 "separator level 2"
//-----------------------------------------------------------------------------
endsnippet

snippet fct "new function with separator"
//-----------------------------------------------------------------------------
int ${0:functionName}()
{
    return EXIT_SUCCESS;
}
endsnippet

snippet main "main with separator"
//-----------------------------------------------------------------------------
int main(int argc, char *argv[])
{
    return EXIT_SUCCESS;
}
endsnippet
