[fonts]
opensansreg = DroidSans:Regular:size=8
opensanssemibold = DroidSans:SemiBold:size=8
opensansbold = DroidSans:Bold:size=8
opensansboldhigh = DroidSans:Bold:size=11
opensansital = DroidSans:Italic:size=9
xos = xos4\ Terminus:size=14;0
nerd = TerminessTTF Nerd Font:size=12;0

[colors]
dark = #202020
light = #999999
blue = #3f98e2

[bar/main]
enable-ipc = true
override-redirect = false

bottom = false
width = 100%
height = 22 ;px

background = ${colors.dark}
foreground = ${colors.light}

line-color = ${colors.blue}
line-size = 1

separator = "   "

;List of fonts
font-0 = ${fonts.opensansreg}
font-1 = ${fonts.opensanssemibold}
font-2 = ${fonts.opensansbold}
font-3 = ${fonts.opensansital}
font-4 = ${fonts.xos}
font-5 = ${fonts.nerd}
font-6 = ${fonts.opensansboldhigh}

modules-left = i3
modules-right = datetime

[module/datetime]
type = internal/date
interval = 2
date = %%{F#999}%Y-%m-%d%%{F-}  %%{F#999}%H:%M%%{F-}

[module/i3]
type = internal/i3

pin-workspaces = true
strip-wsnumbers = true
index-sort = true

label-dimmed-underline = ${colors.dark}

format = <label-state> <label-mode>

label-mode = %mode%
label-mode-padding = 0
label-mode-background = ${colors.dark}

label-focused =  %index%
label-focused-foreground = ${colors.light}
label-focused-background = ${colors.dark}
label-focused-underline = ${colors.blue}
label-focused-padding = 2

label-unfocused = %index%
label-unfocused-foreground = ${colors.light}
label-unfocused-padding = 2

label-visible = %index%
label-visible-underline = ${colors.blue}
label-visible-padding = 4

label-urgent = %index%
label-urgent-foreground = #000000
label-urgent-background = #bd2c40
label-urgent-padding = 4

label-separator = |
label-separator-padding = 0
label-separator-foreground = ${colors.blue}
